@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES FOR SIGNUP PAGE */
body {
    height: 100vh;
    font: 1rem 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(135deg, rgba(102, 51, 153, 0.4), rgba(102, 51, 153, 0.4)), url('/images/pexels-mikael-blomkvist-6476255.webp');
    background-size: cover;
    background-position: center;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 8rem;
  }

.form-container {
    max-width: 550px;
    width: 100%;
    padding: 2rem 2.5rem 2.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 2rem 2rem 0;
    border-radius: 10px;
}

.form-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

figure.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3rem;
    position: relative;
}

figure.logo img {
    width: 80px;
    height: auto;
   border-radius: 50%;
}

figure figcaption {
    position: absolute;
    left: -10000px;
}

form .user-input-box {
    width: 100%;
    flex-wrap: wrap;
}

form .user-input-box label {
    display: block;
    margin: 1rem 0 0.4rem;
    color: #fff;
    font-size: 1.2rem;
}
form .user-input-box input {
    width: 100%;
    height: 45px;
    padding-left: 0.5rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 500;
    color: #717171;
}

form section.retrieve-credentials {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    color: #fff;
    font-size:0.8rem;
}

form section.retrieve-credentials .check-box {
    display: flex;
    gap: 5px;
    align-items: center;
}

a.forgot-password {
    text-decoration: none;
}

a.forgot-password:hover,
a.forgot-password:visited {
    color: rgba(56, 204, 93, 0.7);
}

form .btn {
    width: 100%;
    padding: 0.8rem;
    color: #fff;
    background: rgba(56, 204, 93, 0.7);
    text-align: center;
    text-decoration:none;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
    border: none;
    border-radius: 6px;
    transition: all 0.5s ease;
}

form .btn:hover {
    background-color: rgba(56, 204, 93, 0.9);
    color: #fff;
}

@media (max-width: 1024px) {
    body {
        align-items: center;
    }
    .form-container {
        width: clamp(280px, 90vw, 550px);
        padding: 1.5rem 1.5rem 2.5rem;
    }
    .container {
        align-items: center;
        padding-right: unset;
      }

      figure.logo {
        align-items: center;
        padding-left: 0;
        
    }
    
}