@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 1.5rem 'Nunito', sans-serif;
}

/* || GENERAL STYLES */
body {
    min-height: 100vh;
    display: flex;
    flex-flow: row nowrap;
}

.welcome-container, .success_message-container {
    display: flex;
    flex-direction: column;
    
}

.welcome-container {
    background-image: linear-gradient(rgba(102, 51, 153, 0.7), rgba(102, 51, 153, 0.7)), url('/images/background-2.webp');
    background-position: center;
    background-size: cover;
    width: 45%;
    height: 100vh;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.welcome-container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.welcome-container .logo img{
    width: 80px;
    height: auto;
}

.welcome-container .welcome-box {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    flex: 1;
}

.welcome-container .welcome-box h1 {
    color: whitesmoke;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    white-space: nowrap;
    letter-spacing: 1px;
}

.welcome-container .welcome-box p {
    font-size: 0.7rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    line-height: 1rem;
    letter-spacing: 1px;
    color: whitesmoke;
}

a {
    font-size: 0.7rem;
    font-weight: 600;
    margin-top: 1rem;
    padding: 0.5rem 0.8rem;
    background-color: #fff;
    border-radius: 5px;
}

a,
a:visited {
    color: #333;
    text-decoration: none;
}
a:hover,
a:active,
a:focus {
    color: rebeccapurple;
}

.container {
    width: calc(100% - 200px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('https://document-export.canva.com/Uu1iU/DAFFebUu1iU/35/thumbnail/0001.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20221013%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221013T102813Z&X-Amz-Expires=54359&X-Amz-Signature=6b17022dec5dad2745fa8272cd76142ed36a4993a2d192c8c3202c35b4406091&X-Amz-SignedHeaders=host&response-expires=Fri%2C%2014%20Oct%202022%2001%3A34%3A12%20GMT');
    background-size: cover;
    padding-right: 1rem;
}

.container header ul {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.container header ul li {
    list-style: none;
}

.container .success_message-container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 1rem;
    flex-grow: 1;
    background-image: url('/images/Reading\ glasses-bro.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 200px;
}

.container .success_message-container .checkmark-icon img {
    width: 100px;
    height: auto;
    padding: 0.15rem;
    border-radius: 50%;
    border: 3px solid rgb(231, 206, 255);
}

.container .success_message-container h1 {
    color: rebeccapurple;
    font-weight: 700;
    font-size: 1.75rem;
    margin-bottom: 1.5rem
}

.container .success_message-container p {
    color: #777;
    font-size: 0.8rem;
    text-align: center;
}

.container .success_message-container .btn {
    display: block;
    background-color: rebeccapurple;
    border: 2px solid rebeccapurple;
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    color: whitesmoke;
    margin-top: 1rem;
    transition: all 0.5s ease;
}

.container .success_message-container .btn:hover {
    background-color: #fff;
    color: rebeccapurple;
}

/* HIDE FIGCAPTION */
figure {
    position: relative;
}

figcaption {
    position: absolute;
    left: -10000px;
}

/* SMALL SCREEN */
@media (max-width: 600px) {
    .welcome-container {
        display: none;
    }

    .container {
        width: 100%;
        padding-right: 0;
    }
}