/* @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    display: block;
    width: 50px;
    height: auto;
}
figure {
    position: relative;
}
figure figcaption {
    position: absolute;
    left: 10000px;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: 400 15px 'Lexend Deca', sans-serif;
    background-color: hsl(0, 0%, 95%);
    overflow: hidden;
}
.card-wrapper {
    width: 85%;
    min-height: 520px;
    display: flex;
}
.sedan {
    background: hsl(31, 77%, 52%);
    border-radius: 6px 0 0 6px;
}
.suv {
    background: hsl(184, 100%, 22%);
}
.luxury {
    background: hsl(179, 100%, 13%);
    border-radius: 0 6px 6px 0;
}
.card {
    width: 30%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem;
}
.card h1 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display',cursive;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 1.5rem 0;
    margin-bottom: -0.6rem;
}
.card p {
    color: hsl(0, 0%, 95%);
    line-height: 1.6rem;
    letter-spacing: 1px;
}
.btn {
    display: inline-block;
    color: hsl(0, 0%, 95%);
    text-decoration: none;
    padding: 1rem 2rem;
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 30px;
    text-align: center;
    letter-spacing: 1px;
}

@media screen and (max-width: 1024px) {
    .card-wrapper {
        width: 90%;
    }
    .card {
        padding: 2.8rem  1.5rem;
    }
    .card h1 {
        padding: 1.3rem 0;
    }
    .btn {
        padding: 0.8rem 1.1rem;
    }   
}

@media screen and (max-width: 768px){
    body {
        justify-content: flex-start;
        overflow-y: auto;
    }
    .card-wrapper {
        flex-direction: column;
    }
    .card {
        width: 100%;
        padding: 2.8rem;
    }
    .sedan {
        border-radius: 6px 6px 0 0;
    }
    .luxury {
        border-radius: 0 0 6px 6px;
    }
    .btn {
        margin-top: 2.5rem;
    }
}